
# *****************************************
# Variables de entorno 
# *****************************************

.env

# *****************************************
# Datos de contenedores
# *****************************************
mariadb-data/
glpi-data/


# *****************************************
# Sistema operativo
# *****************************************


# IDE
.vscode/
